<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Main page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1> Send name</h1>
    <form method="post" action="/">
        <input name="name" type="text" placeholder="Enter your name" />
        <button type="submit">Send name</button>
    </form>
    <div>
        <a href="/about">About page</a>
    </div>
    <div>
        <a href="/contact">Contact page</a>
    </div>

</body>

</html>