<div class="container">
  <div class="row mt-5 d-flex">
    <div class="col-6">
      
<div class="w-100 mx-auto pt-5 mt-5">
   <p class="fs-1">Register</p>
    {{#if registerError}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error! </strong> {{registerError}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
     {{/if}}
    <form action="/register" method="post">

<div class="d-flex gap-3">

<div class="form-floating mb-3 w-50">
  <input name="firstName" type="text" class="form-control" id="floatingInput" placeholder="First name">
  <label for="floatingInput">First name</label>
</div>

<div class="form-floating mb-3  w-50">
  <input name="lastName" type="text" class="form-control" id="floatingInput" placeholder="Last name">
  <label for="floatingInput">Last name</label>
</div>

</div>

<div class="form-floating mb-3">
  <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<button type="submit" class="btn btn-primary mt-3">Register</button>
</form>
</div>
    </div>
    <div class="col-6">
      <img class="rounded img-fluid" src="https://img.freepik.com/free-vector/sign-up-concept-illustration_114360-7965.jpg?w=2000" alt="" srcset="">
    </div>
  </div>
</div>
