<!DOCTYPE html>
<html lang="en">
    {{!-- HEADER --}}
{{> head}}
<body>
    {{!-- bu yerda kerakli qismni chaqirib beradi routing qilinmoqda --}}
    {{!-- BODY --}}
   <div class="container">
     {{{body}}}
   </div>

    {{!-- FOOTER --}}
    {{> footer}}
</body>
</html>